
$f12: 0.8rem;
$f13: 0.866rem;
$f14: 0.933rem;
$f15: 1rem;
$f16: 1.067rem;
$f17: 1.133rem;
$f18: 1.2rem;
$f19: 1.267rem;
$f20: 1.333rem;
$f21: 1.4rem;
$f22: 1.466rem;
$f23: 1.533rem;
$f24: 1.6rem;
$f25: 1.666rem;
$f26: 1.733rem;
$f27: 1.8rem;
$f28: 1.866rem;
$f29: 1.933rem;
$f30: 2rem;
$f32: 2.133rem;

$f36: 2.4rem;

$f40: 2.6rem;
$f42: 2.8rem;





$purple: #6569bc;
$pys: #2eaf93;
$pys_ac : #3e814b;
$univ: #a82260;
$hyuk: #ec5c37;
$mpg: #6569bc;




$red: #da3843;
$blue: #4197ff;
$org: #f7881f;
